<!DOCTYPE html >
<html lang="en" dir="rtl">
<head>
  <meta charset="utf-8">

  <title>صفحه اصلی</title>

  <!-- Bootstrap core CSS -->
  <!--<link href='http://awebfont.ir/css?id=1554&mode=wl' rel='stylesheet' type='text/css'>-->
  
  <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
  <link href="{{ STATIC_URL }}css/base.css" rel="stylesheet">
  <link href="{{ STATIC_URL }}font-awesome-4.0.3/css/font-awesome.css" rel="stylesheet">
   {% block extra_css  %}
   {% endblock %}

  <script src="{{ STATIC_URL }}js/jquery-1.10.2.min.js"></script>
  <script src="{{ STATIC_URL }}js/bootstrap.js"></script>
  <script src="{{ STATIC_URL }}js/bootstrap-hover-dropdown.js"></script>
   {% block extra_js  %}
   {% endblock %}

</head>

<body>
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse" id="navbar-main">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#"><i class="fa fa-home"></i></a></li>
          <li><a data-hover="dropdown" href="#cart"><i class="fa fa-shopping-cart"></i> سبد خرید  </a>
            <ul class="dropdown-menu">
              <li><a href="#dropdown1">کوفت</a></li>
              <li><a href="#dropdown2">درد</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-left">
          <li><a href="#"><i class="fa fa-cogs fa-lg"></i></a></li>
          <!--  <li><a href="#"><i class="fa fa-search fa-lg"></i></a></li>-->
        </ul>
        <form class="navbar-form navbar-left">
          <input style="height:36px; margin-top:4px;" type="text" class="form-control col-lg-8" placeholder="جستجو...">
        </form>
        
      </div>
    </div>
  </div>

  <div class="container main-container">

      <div class="row">
        <div class=col-lg-12>

          <ul class="nav nav-pills nav-justified cat-nav">
            {% for cat in categories %}
                {% ifequal cat.sup_cat null %}
                    <li style="position: inherit"><a data-hover="dropdown" data-toggle="tab"><i class="fa fa-angle-left"></i> {{ cat.name }}</a>
                        <ul class="dropdown-menu cat-list">
                            <ul class="nav nav-pills">
                                {% for sub_cat in cat.category_set.all%}
                                    <li class="sub-cat"><a href="#">{{ sub_cat.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </ul>
                    </li>
                {% endifequal %}
            {% endfor %}
          {% comment %}
            <li style="position: inherit"><a data-hover="dropdown" data-toggle="tab"><i class="fa fa-heart"></i> برترین ها</a>
              <ul class="dropdown-menu cat-list">
                <ul class="nav nav-pills">
                  <li class="sub-cat"><a href="#">کوفت</a></li>
                </ul>
              </ul>
            </li>
            <li style="position: inherit"><a data-hover="dropdown" data-toggle="tab"><i class="fa fa-book"></i> کتاب</a>
              <ul class="dropdown-menu cat-list">
                <ul class="nav nav-pills">
                  <li class="sub-cat"><a href="#">زهرمار</a></li>
                </ul>
              </ul>
            </li>
            <li style="position: inherit"><a data-hover="dropdown" data-toggle="tab"><i class="fa fa-music"></i> موسیقی</a></a>
              <ul class="dropdown-menu cat-list">
                <ul class="nav nav-pills">
                  <li class="sub-cat"><a href="#">مرض</a></li>
                </ul>
              </ul>
            </li>
            <li style="position: inherit"><a data-hover="dropdown" data-toggle="tab"><i class="fa fa-film"></i> فیلم</a>
              <ul class="dropdown-menu cat-list">
                <ul class="nav nav-pills">
                  <li class="sub-cat"><a href="#">درد</a></li>
                </ul>
              </ul>
            </li>
            <li style="position: inherit"><a data-hover="dropdown" data-toggle="tab"><i class="fa fa-desktop"></i> سریال</a></a>
              <ul class="dropdown-menu cat-list">
                <ul class="nav nav-pills">
                  <li class="sub-cat"><a href="#">ساکت</a></li>
                </ul>
              </ul>
            </li>
            {% endcomment %}
            
          </ul>
        </div>
      </div>
    </div>
    <div class="container sub-container"> <!--uncommon parts!-->
        {% block content %}
        {% endblock%}
    </div>
  </body>
  </html>
