{% extends "base.html" %}
{% block extra_css  %}
    <link href="{{ STATIC_URL }}css/prod.css" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="row">
      <div class="col-lg-7 col-lg-offset-1" style="padding: 0px">
        <div class="panel panel-primary prod-detail">
          <div class="panel-body">

            <div class="well">
              <h1>{{ product.name}}</h1>
            </div>

            <table class="table">
              <tbody>
                <tr>
                  <td>پدیدآورنده: </td>
                  <td>{{ product.creator }}</td>
                </tr>
                <tr>
                  <td>وضعیت: </td>
                  <td>
                      {% if product.availability %}
                           موجود
                      {% else %}
                            تمام شده
                      {% endif %}
                  </td>
                </tr>
                <tr>
                  <td>عرضه کننده:</td>
                  <td>{{ product.publisher }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-lg-3"style="padding: 0px">
        <div class="panel panel-primary prod-thumb">
          <div class="panel-body">
            <img class="prod-img" src={{ product.small_image }}>
            <div class="well well-sm prod-price">
                <span>قیمت: </span><span>{{ product.price }}</span><span> تومان</span>
            </div>
            <button type="button" class="btn btn-primary btn-block"><i class="fa fa-shopping-cart"></i> اضافه به سبد خرید </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1" id="comments-col">
        <button type="button" class="btn btn-primary" data-toggle="collapse" href="#comments">
          <i class="fa fa-angle-double-down"></i> نظرات کاربران
        </button>
        <div class="panel panel-default">
          <div id="comments" class="panel-collapse collapse">
            <div id="commentsList" class="panel-body">
              <div class='panel panel-default'>
                <div class='panel-body'>
                  <form role="form">
                    <div class="form-group">
                      <label for="nameInput">نام: </label>
                      <input id="nameInput" type="text" class="form-control input-sm">
                      <label for="commentInput">متن نظر: </label>
                      <textarea id ="commentInput" class="form-control input-sm" rows="3"></textarea>
                    </div>
                    <button type="button" onclick="addNewComment()" class="btn btn-primary btn-sm pull-left">بفرســـــت</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock%}