body{
	font-family: "B Yekan" !important;
	background-color: #ecf0f1;
	background-image: linear-gradient(45deg, rgba(255, 255, 255, .3) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .3) 50%, rgba(255, 255, 255, .3) 75%, transparent 75%, transparent);
	background-size: 10px 10px;
	height: 520px;
}
.main-container{
	margin-top:85px;
}

.sub-container{
	margin-top: 18px;
}
.cart{
	position: absolute;
	top: 101%;
  	right: 0;
  	border: 0px;
  	z-index: 1000;
 	float: right;
  	min-width: 360px;
}

.sub-cat{
	margin-right: 10px !important;
	width: 19%;
}

.cat-list{
	min-height: 140px;
	width: 98%;
	right: 1%;
	opacity: 0.99;
	background-color: #fff
}

.cat-nav{
	border-top: 1px solid #a0a0a0;
	border-bottom: 1px solid #a0a0a0;
	font-size: 1.3em;
}